<template>
<v-container>
  <v-card>
    <v-card-title>
      Usuários
    </v-card-title>
  </v-card>
</v-container>
</template>

<script>
export default{
  data(){
    return{
      token: []
    }
  },

  methods: {
    async asyncData(){
      const {data} = await this.$axios.post('api/auth/login', {
        email: 'larainfo@gmail.com',
        password: '123456',
        device_name: 'web'
      })
      console.log(data)
      return {token: data}
    }
  }
}

</script>

<style scoped>

</style>
