<template>
  <v-app style="background-color:white; color:white">
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-btn icon @click.stop="miniVariant = !miniVariant">
        <v-icon>mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon>
      </v-btn>
      <v-btn icon @click.stop="clipped = !clipped">
        <v-icon>mdi-application</v-icon>
      </v-btn>
      <v-btn icon @click.stop="fixed = !fixed">
        <v-icon>mdi-minus</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn to="/" @click="clearToken">Sair</v-btn>
      <v-btn icon @click.stop="rightDrawer = !rightDrawer">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light> mdi-repeat </v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Bem-Vindo',
          to: '/home',
        },
        {
          icon: 'mdi-account',
          title: 'Usuários',
          to: '/users',
        },
        {
          icon: 'mdi-account-group',
          title: 'Grupos',
          to: '/groups',
        },
        {
          icon: 'mdi-city-variant',
          title: 'Cidades',
          to: '/cities',
        },
        {
          icon: 'mdi-school',
          title: 'Escolas',
          to: '/schools',
        },
        {
          icon: 'mdi-briefcase',
          title: 'Cargos',
          to: '/roles',
        },
        {
          icon: 'mdi-account-tie',
          title: 'Funcionários',
          to: '/employees',
        },
        {
          icon: 'mdi-application-edit',
          title: 'Posts',
          to: '/posts',
        },
        {
          icon: 'mdi-application-edit',
          title: 'Áreas Escolares',
          to: '/schoolAreas',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Espia Aí',
    }
  },
    watch: {
      selected_json(newValue) {
        this.$store.commit("setSelectedJson", newValue)
      }
    },

    methods: {
      async clearToken(){
        await this.$store.commit("setSelectedJson", '')
      }
    }
}
</script>
