<template>
  <v-row justify="center" align="center">
    <v-col>
      <v-card  style="width: 100%">
        <v-card-title class="headline">
          Espia Aí Admin
        </v-card-title>
        <v-card-text>
          <p>
            Bem vindo.
          </p>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'HomePage',
}
</script>
