<template>
  <v-data-table
    :headers="headers"
    :items="users"
    sort-by="id"
    class="elevation-1"
    :loading="loading"
  >
    <template #top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Gerenciar Usuários</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template #activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              novo usuário
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.name"
                      label="Nome"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.email"
                      label="Email"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.password"
                      label="Senha"
                      :append-icon="value ? 'mdi-eye-off' : 'mdi-eye'"
                      :type="value ? 'password' : 'text'"
                      @click:append="() => (value = !value)"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="600px">
          <v-card>
            <v-card-title class="text-h5">Tem certeza que deseja deletar esse item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template #[`item.actions`]="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template #no-data>
      <v-btn
        color="primary"
        @click="initialize"
      >
        Reset
      </v-btn>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "UsersPage",
  data: () => ({
    dialog: false,
    dialogDelete: false,
    error: false,
    loading: true,
    value: true,
    headers: [
      {
        text: 'ID',
        align: 'start',
        value: 'id',
      },
      { text: 'Usuário', value: 'name' },
      { text: 'email', value: 'email' },
      { text: 'Ações', value: 'actions', sortable: false },
    ],
    users: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      email: '',
      password: '',
    },
    defaultItem: {
      name: '',
      email: '',
      password: '',
    },
  }),
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Novo Usuário' : 'Editar Usuário'
    },
  },
  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },
  created () {
    this.initialize()
    console.log(this.users)
  },
  methods: {
    async initialize () {
      try{
        this.$axios.setToken(this.$store.getters.getSelectedJson, "Bearer")
        const {data} = await this.$axios.get('api/user')
        if (data.length){
          this.users = data
        }else if (data.length === 0){
          this.users = []
        }else{
          this.users = {data}
        }
        this.loading =  false
      }
      catch(e){
        this.errorr = e
        // await this.$router.push('/')
      }
    },
    editItem (item) {
      this.editedIndex = this.users.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem (item) {
      this.editedIndex = this.users.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },
    async deleteItemConfirm () {
      this.users.splice(this.editedIndex, 1)
      try{
        await this.$axios.setToken(this.$store.getters.getSelectedJson, "Bearer")
        await this.$axios.delete('api/user/' + this.editedItem.id)
      }
      catch(e){
        this.errorr = e
        this.errorr = true
        window.setInterval(() => {
          this.errorr = false;
        }, 5000)
      }
      this.closeDelete()
    },
    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    async save () {
      if (this.editedIndex > -1) {
        try{
          this.$axios.setToken(this.$store.getters.getSelectedJson, "Bearer")
          const data = {
            name: this.editedItem.name,
            email: this.editedItem.email,
            password: this.editedItem.password
          }
          const response = await this.$axios.patch('api/user/' + this.editedItem.id, data)
          Object.assign(this.users[this.editedIndex], response.data)
        }
        catch(e){
          this.error = e
          console.log(e)
          this.error = true
        }
      } else {
        try{
          this.$axios.setToken(this.$store.getters.getSelectedJson, "Bearer")
          const data = {
            name: this.editedItem.name,
            email: this.editedItem.email,
            password: this.editedItem.password
          }
          const response = await this.$axios.post('api/user', data)
          this.users.push(response.data)
        }
        catch(e){
          this.error = e
          console.log(e)
          this.error = true
        }
      }
      this.close()
    },
  },
}
</script>
